@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gloabl Styles */

@layer base {
  html,body {
    @apply w-full h-full bg-black text-white;
    overflow: hidden;
    font-family: "Proxima Nova", system-ui, sans-serif;
  }

  /* Ensure transitions are consistent across all browsers */
  * { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -o-box-sizing: border-box; 
    box-sizing: border-box; 
    /* adds animation for all transitions */ 
    -webkit-transition: .25s ease-in-out; 
    -moz-transition: .25s ease-in-out; 
    -o-transition: .25s ease-in-out; 
    transition: .25s ease-in-out; 
    margin: 0; 
    padding: 0;
    -webkit-text-size-adjust: none; 
  }
}

/* TODO: I ripped off this drawer style to get something working quickly.
  It needs to be cleaned up and made more generic. -- I think some of
  it is gonna be a pain to worth with eventually
  The Longer I look at this the more I hate it, so I'm just gonna ignore it for now
*/

/* Header and Drawer Styles */

header {
  @apply fixed top-0 left-0 w-full h-[10vh] px-2.5 pt-2.5 pb-2.5 pl-12 text-3xl leading-7 z-0;
}

/* Main Page Content */
#page-content { 
  display: block;
  text-align: center;
  margin-left: 0px; 
  margin-top: 50px;
  width: 100%; 
  height: calc(100% - 50px); 
  overflow-x:hidden; 
  overflow-y:scroll; 
  -webkit-overflow-scrolling: touch; 
  padding: 20px; 
}

/* Our toggle is a hidden checkbox :shrug: */
#drawer-toggle { 
  @apply hidden;
}

/* And a fixed position label to go with it */
#drawer-toggle-label { 
  @apply fixed left-0 h-12 w-12 block bg-transparent z-10 
}

/* This rest of this is just bewildering */
#drawer-toggle-label:before {
  content: ''; 
  display: block; 
  position: absolute; 
  height: 2px; 
  width: 24px; 
  left: 13px; 
  top: 18px; 
  background: #8d8d8d;
  box-shadow: 0 6px 0 #8d8d8d, 0 12px 0 #8d8d8d; 
} 
  
#drawer { 
  position: fixed; 
  top: 0; 
  left:-150px; 
  height: 100%; 
  width: 150px; 
  overflow-x: hidden; 
  overflow-y: scroll; 
  padding: 20px; 
  -webkit-overflow-scrolling: touch; 
} 
  

/* checked styles (menu open state) */ 
#drawer-toggle:checked ~ #drawer-toggle-label { 
  height: 100%; 
  width: calc(100% - 150px); 
  background: rgba(255,255,255,.8); 
} 

#drawer-toggle:checked ~ #drawer-toggle-label, 
#drawer-toggle:checked ~ header { 
  left: 150px; 
} 

#drawer-toggle:checked ~ #drawer { 
  left: 0px; 
} 

#drawer-toggle:checked ~ #page-content { 
  margin-left: 150px; 
}

/* Menu item styles */ 

#drawer ul { 
  list-style-type:none; 
} 

#drawer ul a { 
  display:block; 
  padding:10px; 
  color:#c7c7c7; 
  text-decoration:none; 
} 

#drawer ul a:hover { 
  color:white; 
}
  
/* Responsive MQ */ 
  
@media all and (max-width:350px) { 
  #drawer-toggle:checked ~ #drawer-toggle-label { 
    height: 100%; 
    width: 50px; 
  } 

  #drawer-toggle:checked ~ #drawer-toggle-label, 
  #drawer-toggle:checked ~ header { 
    left: calc(100% - 50px); 
  } 

  #drawer-toggle:checked ~ #drawer { 
    width: calc(100% - 50px); 
    padding: 20px; 
  } 

  #drawer-toggle:checked ~ #page-content { 
    margin-left: calc(100% - 50px); 
  } 
}